@inject BrowserService Service

@page "/"

<h1>Dimensiones</h1>

<p>Window Height: @Height</p>
<p>Window Width: @Width</p>

<button @onclick="GetDimensions">Captura</button>
<input />

@for (int i = 12; i < 56; i++)
{
    <p style="font-size: @mtd(@i);">Tipografía @i</p>
}

@code{

    public int Height { get; set; }
    public int Width { get; set; }

    async Task GetDimensions()
    {
        var dimension = await Service.GetDimensions();
        Height = dimension.Height;
        Width = dimension.Width;
    }

    public string mtd(int a)
    {
        return a.ToString() + "px";
    }

}

